absl-py==1.4.0
accelerate==0.24.1
addict==2.4.0
aiofile==3.8.7
aiofiles==23.1.0
aiohttp==3.8.6
aiohttp-cors==0.7.0
aiosignal==1.3.1
altair==5.2.0
ansi2html==1.8.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
argcomplete==3.1.1
asttokens==2.2.1
async-timeout==4.0.3
attrs==23.1.0
auto-gptq==0.4.2
av==11.0.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
blinker==1.7.0
boto3==1.26.156
botocore==1.29.156
braceexpand==0.1.7
bracex==2.3.post1
cachetools==5.3.1
caio==0.9.12
catkin-pkg==0.5.2
certifi==2022.12.7
cffi==1.16.0
chardet==4.0.0
charset-normalizer==2.1.1
click==8.0.4
cloudpickle==1.3.0
cmake==3.25.0
# cmx==0.0.45
coacd==1.0.0
coloredlogs==15.0.1
colorlog==6.8.0
comm==0.1.4
ConfigArgParse==1.7
# consistencydecoder @ git+https://github.com/openai/consistencydecoder.git@22a0449022f17a2d7bfc69535e8e8f3ff0585ecb
contourpy==1.1.0
controlnet-aux==0.0.7
cube2sphere==0.2.1
cycler==0.10.0
dash==2.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==2.14.6
decorator==4.4.2
decord==0.6.0
deep-translator==1.11.4
diffusers==0.21.4
dill==0.3.7
distlib==0.3.6
distro==1.8.0
# dm-env==1.6
# dm-tree==0.1.8
# dm_control==1.0.18
docker-pycreds==0.4.0
docstring-parser==0.15
docutils==0.20.1
durationpy==0.6
einops==0.7.0
etils==1.3.0
exceptiongroup==1.1.3
executing==1.2.0
expandvars==0.9.0
fastjsonschema==2.18.0
filelock==3.12.2
fire==0.5.0
Flask==2.2.5
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
ftfy==6.1.3
functional-notations==0.5.2
fvcore==0.1.5.post20221221
gdown==4.7.1
gitdb==4.0.10
GitPython==3.1.31
glfw==2.7.0
google-api-core==2.11.1
google-api-python-client==2.90.0
google-auth==2.20.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
googletrans-py==4.0.0
GPUtil==1.4.0
grpcio==1.43.0
gym==0.23.1
gym-notices==0.0.8
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5tagger==1.3.0
httpcore==1.0.4
httplib2==0.22.0
httptools==0.5.0
httpx==0.27.0
huggingface-hub==0.16.4
humanfriendly==10.0
Hydra==2.5
hydra-core==1.3.2
hyperframe==6.0.1
idna==2.10
imageio==2.31.1
imageio-ffmpeg==0.4.8
imhist==0.0.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
imWatermark==0.0.2
iniconfig==2.0.0
invisible-watermark==0.2.0
iopath==0.1.10
ipython==8.12.2
ipywidgets==8.1.0
# Editable install with no version control (isaacgym==1.0rc4)
# -e /home/exx/third_party/isaacgym/python
# -e git+ssh://git@github.com/NVIDIA-Omniverse/IsaacGymEnvs.git@3d2d5ed7ce71401db3063d8c339f4a800ce8709f#egg=isaacgymenvs
itsdangerous==2.1.2
jaynes==0.9.8
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.1
jsonschema==4.17.3
jupyter_core==5.3.1
jupyterlab-widgets==3.0.8
killport==1.2.0
kiwisolver==1.4.4
kornia==0.7.1
labmaze==1.0.6
lazy_loader==0.2
lcm==1.4.4
lightning-utilities==0.9.0
lit==15.0.7
loguru==0.7.0
lxml==5.1.0
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
# matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.7
# ml-dash==0.3.25
# ml-logger==0.10.23
more-itertools==9.1.0
moviepy==1.0.3
mpld3==0.5.10
mpmath==1.2.1
msgpack==1.0.5
mujoco==3.1.4
multidict==4.7.6
multiprocess==0.70.15
nbformat==5.7.0
nest-asyncio==1.5.7
networkx==3.0
ninja==1.11.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
obj2mjcf==0.0.24
omegaconf==2.3.0
omnicv==1.1.3
open-clip-torch==2.24.0
open3d==0.17.0
openai-clip==1.0.1
opencv-contrib-python==4.8.1.78
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.74
optimum==1.13.2
packaging==23.1
pandas==2.0.3
params-proto==2.12.0
parso==0.8.3
pathtools==0.1.2
peft==0.5.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pkgutil_resolve_name==1.3.10
platformdirs==3.6.0
plotly==5.15.0
pluggy==1.2.0
portalocker==2.7.0
proglog==0.1.10
promise==2.3
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
# -e git+https://github.com/sunset1995/py360convert.git@09abaac53e20ced0d1c2e5d72ca3c9490dcd7df7#egg=py360convert
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybboxes==0.1.6
pycparser==2.21
# pycurl==7.45.2
pydeck==0.8.1b0
pydelatin==0.2.7
pyfqmr==0.2.0
Pygments==2.15.1
PyOpenGL==3.1.7
pyparsing==3.1.2
pyquaternion==0.9.9
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytorch-lightning==2.1.3
pytorch3d==0.3.0
pytz==2023.3
PyVirtualDisplay==3.0
PyWavelets==1.4.1
PyYAML==6.0
pyzed==1.3.0
ray==1.13.0
regex==2023.10.3
requests==2.28.1
requests-futures==1.0.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3986==1.5.0
rich==13.7.0
rl-games==1.6.0
# roboflow==1.1.2
rosdep==0.22.2
rosdistro==0.9.0
rospkg==1.5.0
rouge==1.0.1
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
safetensors==0.4.0
sahi==0.11.14
# sanic==20.9.0
# Sanic-Cors==0.10.0.post3
# Sanic-Plugins-Framework==0.9.5
# sanic-routing==22.3.0
scikit-image==0.21.0
scikit-learn==1.3.0
scikit-video==1.1.11
scipy==1.10.1
seaborn==0.12.2
sentencepiece==0.1.99
sentry-sdk==1.25.1
setproctitle==1.3.2
# sgm @ file:///home/exx/mit/generative-models
shapely==2.0.1
shortuuid==1.0.11
shtab==1.7.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sounddevice==0.4.6
soupsieve==2.5
stack-data==0.6.2
streamlit==1.29.0
streamlit-keyup==0.2.2
supervision==0.12.0
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
termcolor==2.3.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.4.12
timm==0.9.8
tokenizers==0.14.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.1.2+cu118
torchaudio==2.1.2+cu118
torchmetrics==1.1.0
torchsde==0.2.6
torchtyping==0.1.4
torchvision==0.16.2+cu118
tornado==6.4
tqdm==4.65.0
tracerite==1.1.0
traitlets==5.9.0
trampoline==0.1.2
transformers==4.34.1
trimesh==4.0.2
triton==2.1.0
typeguard==4.1.5
typing==3.7.4.3
typing_extensions==4.9.0
tyro==0.7.3
tzdata==2023.3
tzlocal==5.2
ujson==5.8.0
ultralytics==8.0.143
uritemplate==4.1.1
urllib3==1.26.13
uvloop==0.17.0
validators==0.22.0
virtualenv==20.23.1
vuer==0.0.26rc2
wandb==0.12.21
wandb-osh==1.2.0
watchdog==3.0.0
waterbear==2.6.8
wcmatch==8.4.1
wcwidth==0.2.13
webdataset==0.2.72
websockets==8.1
Werkzeug==2.2.3
wget==3.2
widgetsnbextension==4.0.8
# xformers==0.0.23.post1+cu118
xxhash==3.4.1
yacs==0.1.8
yarl==1.9.2
yolov5==7.0.13
yolov7detect==1.0.1
zipp==3.15.0